/*
Bessy Torres-Miller
02/02/2018

Styles for Personal Info page
*/

/* Style in body  */
body{
    margin-top: 30px;
}

/* Styles for container */
.container{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2{
    margin-top: 15px;
}

/*Styles for paragraph with information */
p{
    margin-top: 25px!important;
    padding: 15px!important;
    border-radius: 10px;

}

#info{
    background-color: lightgrey;
}

/*labels in bold */
.label{
    font-weight: bold;
}

/* Styles for the policy in the info box */
#policy{
    font-weight: bold;
    color: blue;

}